:root {
  --main-color: rgb(38, 136, 172);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
  width: 500px;
  position: relative;
}

.form .input {
  padding: 10px 14px;
  width: 100%;
  border: 1px solid var(--main-color);
  outline: none;
  font-size: 20px;
  color: var(--main-color);
}

.form .add {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.tasks {
  background-color: #f9f9f9;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}

.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}

.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}

.tasks .task:hover {
  background-color: #f7f7f7;
}

.tasks .task.done {
  opacity: 0.5;
}

.tasks .task span {
  font-weight: bold;
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}